<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/public/editor.md/css/editormd.min.css" />
		<title>后台管理系统</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/admin">后台管理</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/admin/user">用户管理</a>
						</li>
						<li class="dropdown">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">分类列表<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/admin/category">分类名称</a>
								</li>
								<li>
									<a href="/admin/category/add">添加分类</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">内容列表<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/admin/content">内容列表</a>
								</li>
								<li>
									<a href="/admin/content/add">添加内容</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{infoUser.username}}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="javascript:;" id="logout">退出</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- 运用模板 里面放入每个页面不同部分 -->
		{% block main %}{% endblock %}
		</body>
	<script src="/public/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/editor.md/editormd.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/editormd.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/admin.js" type="text/javascript" charset="utf-8"></script>
</html>
