<!-- 引入公用模板 layout.html -->
{% extends 'layout.html' %}
{% block main%}
	<div class="container">
		<h2>用户列表</h2>
		<ol class="breadcrumb">
			<li><a href="/admin">后台管理</a></li>
			<li class="active">用户管理</li>
		</ol>
		<table class="table table-striped table-bordered table-hover text-center">
			<tr>
				<th width="30%" class="text-center">ID</th>
				<th class="text-center">用户名</th>
				<th class="text-center">密码</th>
				<th class="text-center">是否是管理员</th>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{user._id.toString()}}</td>
					<td>{{user.username}}</td>
					<td>{{user.password}}</td>
					<td> 
						{% if user.isAdmin %}
						是
						{% else %}
						否
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	{% include "page.html" %}
{% endblock %}
