{% extends 'layout.html' %}
{% block index %}
	<div class="container">
		<h2 class="main-title">发表的文章</h2>
		{% if contents.length %}
			{% for content in contents %}
				<div class="content">
					{{content}}
					<p>{{content.title}}<span>作者：{{content.user.username}}&nbsp;&nbsp;发布时间：{{content.nowTime|date('Y年m月d日 H:i:s',-8*60) }}&nbsp;&nbsp;阅读量：{{content.views}}&nbsp;&nbsp;评论数：{{content.comments.length}}</span></p>
					<div class="content-all clearfix">
						<div>
							{{content.abstract}}
						</div>
						<a href="/view?contentId={{content.id}}">阅读全文</a>
					</div>
				</div>
			{% endfor %}
			{% if page %}
			<nav aria-label="Page navigation" style="text-align: center;">
				<ul class="pagination">
					<li>
						{% if page>1 %}
						<a href="/?page={{page-1}}&category={{category}}" aria-label="Previous">
							<span aria-hidden="true">&laquo; 上一页</span>
						</a>
						{% else %}
							<span aria-hidden="true">没有上一页了</span>
						{%endif%}
					</li>
					<li>
						<span aria-hidden="true">{{page}} / {{pages}}</span>
					</li>
					<li>
						{% if page<pages %}
						<a href="/?page={{page+1}}&category={{category}}" aria-label="Previous">
							<span aria-hidden="true">下一页 &raquo;</span>
						</a>
						{% else %}
							<span aria-hidden="true">没有下一页了</span>
						{%endif%}
				    </li>
				</ul>
			</nav>
			{%endif%}
		{% else %}
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">暂时没有文章</h3>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock %}
