<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/public/css/main.css"/>
		<script src="/public/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<title>web技术博客</title>
	</head>
	<body>
		<header>
			<div class="clearfix">
				<h1 class="col-md-3">
					<a href="#">
						<b>魔</b>鬼文博客
					</a>
				</h1>
				<ul class="clearfix">
					{% if category %}
					<li><a href="/">首页</a></li>
					{% else %}
					<li><a href="/" class="active">首页</a></li>
					{% endif %}
					
					{% for cate in allCategories %}
						{% if category==cate.id %}
						<li><a href="/?category={{cate.id}}" class="active">{{cate.name}}</a></li>
						{% else %}
						<li><a href="/?category={{cate.id}}">{{cate.name}}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</header>
		<p class="line"></p>
		<div class="banner">
			{% if infoUser._id %}
			<div class="inputed info">
				<p>用户信息</p>
				{% if infoUser.isAdmin %}
				<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span><b class="user">管理员</b>您好<a href="/admin" target="_blank">进入管理</a></p>
				{% else %}
				<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span><b class="user">{{infoUser.username}}</b>您好，欢迎来到我的博客</p>
				{% endif %}
				<p><a href="javascript:;" class="logout">退  出</a></p>
			</div>
			{% else %}
			<div class="inputed login">
				<input type="text" name="username" placeholder="用户名" id="" value="" />
				<input type="text" name="password" placeholder="密  码" id="" value="" />
				<input type="button" id="" value="登  录" />
				<p>您还没有账号？<a href="javascript:;">马上注册</a></p>
			</div>
			<div class="inputed registered" style="display: none;">
				<input type="text" name="username" placeholder="用户名" id="" value="" />
				<input type="text" name="password" placeholder="密  码" id="" value="" />
				<input type="text" name="repassword" placeholder="再次输入密码" id="" value="" />
				<input type="button" id="" value="注  册" />
				<p>已有账号？<a href="javascript:;">马上登录</a></p>
			</div>
			{% endif %}
		</div>
		<div class="container-fluid main">
			{% block index %}{% endblock %}
		</div>
	</body>
	<script src="/public/js/index.js" type="text/javascript" charset="utf-8"></script>
</html>
